div {
  background-color: #00ff00;
  color: red;
  padding: 10px;
  font-family: Arial;
  text-align: center;
}
form {
  text-align: center;
  background-color: beige;
}
.Col {
  color: yellow;
  font-size: 40px;
}
